<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom styles */
    body {
      background: url('/uploads/How-To-Start-A-Watch-Collection-0-Hero.jpg');
      background-size: cover;

    }
    .container {
      margin-top: 250px;
    }
    .login-container {
      max-width: 60%; /* Adjusted width */
      margin: 100px auto;
      padding: 20px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
    .login-container .admin-logo {
      text-align: center;
      margin-bottom: 20px;
    }
    .login-container .admin-logo img {
      width: 100px; /* Adjust as needed */
    }
  </style>
</head>
<body>

<div class="container">
  <div class="login-container">    
    <i class="fa-solid fa-user-tie"></i>
    <h2 class="text-center">Admin Login</h2>
    <form class="login-form" action="/admin/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <% if (typeof errMessage!== 'undefined') { %>
      <div class="alert alert-danger Errormsg">
          <h3><%= errMessage %></h3>
      </div>
    <% } %>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>