PORT = 3030
MONGODB_URI = mongodb+srv://aaronmathew286:uGXMGUU8AbFW2td4@quartz.v4t4y.mongodb.net/?retryWrites=true&w=majority&appName=Quartz

ADMINMAIL = quartzmen286@gmail.com
ADMINPASSWORD = aaron2024
ADMINPASS = irjn zgzg yuen pejx
SECRET_KEY = qwer-asdf-zxcv

ClientID = 400018550896-dln1b94m8tq2kc315ji5p1p6ldb426vs.apps.googleusercontent.com
ClientSecret = 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

RAZORPAY_KEY_ID = rzp_test_KOCURsj88Mu4Sj
RAZORPAY_KEY_SECRET = 64CY4QIGucP0t33gP8JodsqI


node_modules/
*.log
config/database.yml
.env
*.o
*.out
.vscode/
.idea/